<ul *ngIf="pages?.length >0" class="pagination">

  <li class="page-item" *ngIf="pagination.number > 0">
    <a class="page-link" [routerLink]="['/clients/page', pagination.number-1]">&laquo;</a>
  </li>

  <li [ngClass]="pagination.first? 'disabled page-item': 'page-item'">
    <a class="page-link" [routerLink]="['/clients/page', 0]">Premier</a>
  </li>

  <li *ngFor="let page of pages" [ngClass]="page-1 == pagination.number? 'page-item active':'page-item'">
    <span class="page-link" *ngIf="page-1 == pagination.number">{{page}}</span>
    <a *ngIf="page-1 != pagination.number" class="page-link" [routerLink]="['/clients/page', page-1]">{{page}}</a>
  </li>

  <li [ngClass]="pagination.last?' disabled page-item': 'page-item'">
    <a class="page-link" [routerLink]="['/clients/page', pagination.totalPages-1]">Dernier</a>
  </li>

  <li class="page-item" *ngIf="pagination.number < pagination.totalPages-1">
    <a class="page-link" [routerLink]="['/clients/page', pagination.number+1]">&raquo;</a>
  </li>
</ul>
