<div class="card bg-light" *ngIf="facture">
  <div class="card-header">{{title}}: {{facture.description}}</div>
  <div class="card-body">
    <h4 class="card-title">
      <a [routerLink]="['/clients']" class="btn btn-light btn-xs">&laquo; precedent</a>
    </h4>

    <ul class="list-group my-2">
      <li class="list-group-item list-group-item-primary">Donnees client</li>
      <li class="list-group-item">{{facture.client.nom}}</li>
      <li class="list-group-item">{{facture.client.prenom}}</li>
    </ul>

    <ul class="list-group my-2">
      <li class="list-group-item list-group-item-primary">Donnees de la facture</li>
      <li class="list-group-item">Facture d'achat: {{facture.id}}</li>
      <li class="list-group-item">Description: {{facture.description}}</li>
      <li class="list-group-item">Date: {{facture.createdAt}}</li>
    </ul>

    <table class="table table-striped table-hover table-bordered my-3">
      <thead>
      <tr>
        <th>Produit</th>
        <th>Prix</th>
        <th>Quantite</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of facture.items">
        <td>{{item.produit.nom}}</td>
        <td>{{item.produit.prix}}</td>
        <td>{{item.quantite}}</td>
        <td>{{item.montant}}</td>
      </tr>
      </tbody>
    </table>
    <h5 class="float-right">
      <span>Grand Total</span>: <span class="badge badge-secondary">{{facture.total}}</span>
    </h5>

    <div class="card border-info mb-4" style="max-width: 350px;">
      <div class="card card-header">
        Observations
      </div>
      <div class="card card-body">
        <p *ngIf="!facture.observation">Pas d'observations</p>
        <p *ngIf="facture.observation">{{facture.observation}}</p>
      </div>

    </div>
  </div>
</div>
