<div class="card bg-light">
  <div class="card-header">{{title}}: {{facture.description}}</div>
  <div class="card-body">
    <h4 class="card-title">
      <a [routerLink]="['/clients']" class="btn btn-light btn-xs">&laquo; precedent</a>
    </h4>

    <form #factureForm="ngForm">
      <div class="form-group row" *ngIf="facture.client">
        <label for="client" class="col-sm-2 col-form-label">Client</label>
        <div class="col-sm-6">
          <input type="text" id="client" name="client"
                 value="{{facture.client.nom}}{{facture.client.prenom}}" class="form-control" disabled>
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-6">
          <input type="text" id="description" name="descripcion"
                 [(ngModel)]="facture.description" class="form-control" required #description="ngModel">
          <div class="alert alert-danger" *ngIf="description.invalid && description.touched || description.invalid && factureForm.submitted">
            La description est requise
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="observation" class="col-sm-2 col-form-label">Observation</label>
        <div class="col-sm-6">
          <textarea name="observation" id="observation" [(ngModel)]="facture.observation" class="form-control"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <mat-form-field>
            <input type="text" placeholder="Ajouter un produit" aria-label="Produits" matInput
                   [formControl]="autocompleteControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre"
                              (optionSelected)="seleccionarProducto($event)">
              <mat-option *ngFor="let produit of productsFiltres | async" [value]="produit">
                {{produit.nom}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="autocompleteControl.invalid && factureForm.submitted">La ne contient aucune ligne !.</div>
        </div>
      </div>
      <div class="alert alert-info my-4" *ngIf="facture.items.length == 0">
        Aucune ligne n'est affectée à la facture. Vous devez en ajouter au moins un!
      </div>
      <table class="table table-striped table-hover table-sm" *ngIf="facture.items.length > 0">
        <thead>
        <tr>
          <th>Produit</th>
          <th>Prix</th>
          <th>Quantite</th>
          <th>Total</th>
          <th>Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of facture.items">
          <td>{{item.produit.nom}}</td>
          <td>{{item.produit.prix}}</td>
          <td><input type="number" value="{{item.quantite}}" class="form-control col-sm-4"
                     (change)="actualizarCantidad(item.produit.id, $event)"></td>
          <td>{{item.calculerMontant()}}</td>
          <td><button class="btn btn-danger btn-sm" type="button"
                      (click)="eliminarItemFactura(item.produit.id)">x</button></td>
        </tr>
        </tbody>
      </table>
      <h5 class="float-right" *ngIf="facture.items.length > 0">
        Grand Total: <span class="badge badge-secondary">{{facture.calculerGrandTotal()}}</span></h5>

      <div class="form-group row">
        <div class="col-sm-6">
          <input type="submit" (click)="create(factureForm)" value="Creer Facture" class="btn btn-secondary">
        </div>
      </div>
    </form>
  </div>
</div>
