<button type="button" (click)="setHabilitation()" class="btn btn-primary my-3">{{ habilitation==true ? 'Masquer': 'Afficher' }}</button>

<div class="card">
  <div class="card-header">
    Liste de cours
  </div>

  <ul class="list-group" *ngIf="habilitation == true">
    <li class="list-group-item" *ngFor="let cour of coursList">{{ cour }}</li>
  </ul>
</div>
