<div class="card mx-4 my-4">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item mr-2" *ngIf="!connecte">
        <input type="text" [(ngModel)]="message.username" class="form-control" placeholder="Tu Username..." name="username">
      </li>
      <li class="nav-item mr-2">
        <button class="btn btn-success" type="button" (click)="conectar()"
                *ngIf="!connecte" [disabled]="!message.username">Connecter</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-warning" type="button" (click)="desconectar()"
                *ngIf="connecte">Laisser le Chat</button>
      </li>
    </ul>
  </div>

  <div #scrollChat [scrollTop]="scrollChat.scrollHeight" class="card-body" style="overflow-y: scroll; height: 360px;"
       *ngIf="connecte">
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-light" *ngFor="let message of messages">
        <span *ngIf="message.type=='NOUVEL_USER'" >
          {{message.createdAt | date:'shortTime'}} @ {{message.texto}}
          <span [ngStyle]="{'color': message.color}">{{message.username}}</span>
        </span>
        <span *ngIf="message.type=='Message'">
          {{message.createdAt | date:'shortTime'}}
          <span [ngStyle]="{'color': message.color}">{{message.username}}</span> Il dit:<br> {{message.texto}}
        </span>
      </li>
    </ul>
  </div>

  <div class="card-footer" *ngIf="connecte">
    <form class="form-inline">
      <div class="form-group mx-3">
        <input type="text" [(ngModel)]="message.texto" class="form-control" placeholder="Ecrire un message..." name="texto"
               (keyup)="escribiendoEvento()">
      </div>
      <button class="btn btn-primary" type="submit" (click)="enviarMensaje()">Envoyer</button>
    </form>
    <div>{{escribiendo}}</div>
  </div>
</div>
