<app-detail-client *ngIf="clientSelectionne" [client] ="clientSelectionne"></app-detail-client>

<div class="card border-primary mb-3">
  <div class="card-header">Clients</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Liste des clients</h5>
    <div class="my-2 text-left">
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clients/form']">
        Ajouter Client
      </button>
    </div>
    <div *ngIf="clients?.length == 0" class="alert alert-info">
      Aucun client enrigistrer dans la base !
    </div>
    <table class="table table-bordered table-striped" *ngIf="clients?.length>0">
      <thead>
      <tr>
        <th *ngIf="authService.hasRole('ROLE_USER')">#</th>
        <th>nom</th>
        <th>prenom</th>
        <th>email</th>
        <th>date</th>
        <th *ngIf="authService.hasRole('ROLE_ADMIN')">creer facture</th>
        <th *ngIf="authService.hasRole('ROLE_ADMIN')">modifier</th>
        <th *ngIf="authService.hasRole('ROLE_ADMIN')">supprimer</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clients">
        <td *ngIf="authService.hasRole('ROLE_USER')"><img (click)="abrirModal(client)" *ngIf="client?.photo"
                                                          src="{{clientService.baseurl}}/custom/uploads/img/{{client.photo}}" alt="{{client.photo}}" class="img-thumbnail rounded"
                                                          style="width:64px; cursor: pointer;">

          <img (click)="abrirModal(client)" *ngIf="!client?.photo"
               src="../../assets/no-usuario.png" alt="Sin foto" class="img-thumbnail rounded"
               style="width:30px; cursor: pointer;">
        </td>
        <td>{{ client.nom }}</td>
        <td>{{ client.prenom | uppercase }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.createdAt | date:"EEEE dd, MMMM yyyy"}}</td>
        <td *ngIf="authService.hasRole('ROLE_ADMIN')"><button type="button" class="btn btn-success btn-sm" [routerLink]="['/factures/form', client.id]">Creer facture</button></td>
        <td *ngIf="authService.hasRole('ROLE_ADMIN')">
          <button type="button" name="editar" [routerLink]="['/clients/form', client.id]" class="btn btn-primary btn-sm">modifier</button>
        </td>
        <td *ngIf="authService.hasRole('ROLE_ADMIN')">
          <button type="button" name="eliminar" (click)='delete(client)' class="btn btn-danger btn-sm">supprimer</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="text-center d-flex justify-content-center">
      <app-paginator *ngIf="pagination" [pagination]="pagination"></app-paginator>
    </div>
  </div>
</div>
