<ul class="alert alert-danger" *ngIf="errors?.length > 0">
  <li *ngFor="let err of errors">
    {{ err }}
  </li>
</ul>

<div class="card bg-dark text-white">
  <div class="card-header">{{ title }}</div>
  <div class="card-body">

    <form #clientForm="ngForm">
      <div class="form-group row">
        <label for="nom" class="col-form-label col-sm-2">Nom</label>
        <div class="col-sm-6">
          <input type="text" id="nom" class="form-control" [(ngModel)]="client.nom" name="nom" #nom="ngModel"> <!-- required minlength="4" -->
          <div class="alert alert-danger" *ngIf="nom.invalid && (nom.dirty || nom.touched)">
            <div *ngIf="nom.errors.required">
              Nom requis
            </div>
            <div *ngIf="nom.errors.minlength">
              Nom doit avoir au moins 4 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="prenom" class="col-form-label col-sm-2">Prenom</label>
        <div class="col-sm-6">
          <input type="text" id="prenom" class="form-control" [(ngModel)]="client.prenom" name="prenom" #prenom="ngModel"> <!-- required -->
          <div class="alert alert-danger" *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)">
            <div *ngIf="prenom.errors.required">
              Prenom requis
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="email" id="email" class="form-control" [(ngModel)]="client.email" name="email" #email="ngModel"> <!-- required email -->
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">
              Email est requis
            </div>
            <div *ngIf="email.errors.email">
              Email doit avoir un format valide
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="createdAt" class="col-form-label col-sm-2">Date</label>
        <div class="col-sm-6">
          <input [matDatepicker]="miDatepicker" id="createdAt" class="form-control" [(ngModel)]="client.createdAt" name="createdAt" style="display:inline; width:300px;">
          <mat-datepicker-toggle [for]="miDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #miDatepicker></mat-datepicker>
        </div>
      </div>

      <div class="form-group row">
        <label for="region" class="col-form-label col-sm-2">Region</label>
        <div class="col-sm-6">
          <select [compareWith]="comparerRegion" id="region" class="form-control" [(ngModel)]="client.region" name="region" style="width:500px;">
            <option [ngValue]="undefined">--- Selectionner une region ---</option>
            <option *ngFor="let region of regions" [ngValue]="region">{{region.nom}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!client.id else elseBlock" [disabled]="!clientForm.form.valid">Souscrire</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!clientForm.form.valid">Modifier</button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
