<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
  <div class="modal" tabindex="-1" role="dialog" style="display:block;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ title }}</h5>
          <button (click)="cerrarModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">

              <div class="col-sm">
                <ul *ngIf="client" class="list-group text-dark mb-3">
                  <li class="list-group-item active">{{client.nom}}</li>
                  <li class="list-group-item">{{client.prenom}}</li>
                  <li class="list-group-item">{{client.email}}</li>
                  <li class="list-group-item">{{client.createdAt | date:"fullDate"}}</li>
                  <li class="list-group-item">{{client.region.nom}}</li>
                </ul>

                <div class="input-group mb-3" *ngIf="authService.hasRole('ROLE_ADMIN')">
                  <div class="custom-file">
                    <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input"
                           id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                    <label class="custom-file-label" for="inputGroupFile04">Choisir photo</label>
                  </div>
                  <div class="input-group-append">
                    <button (click)="subirFoto()" [disabled]="!photoSelectionne" class="btn btn-outline-secondary"
                            type="button" id="inputGroupFileAddon04">Envoyer</button>
                  </div>
                </div>

                <div *ngIf="progression > 0" class="progress" style="height: 40px;">
                  <div class="progress-bar progress-bar-striped" role="progressbar"
                       [ngStyle]="{width:progression+'%'}" attr.aria-valuenow="{{progression}}" aria-valuemin="0" aria-valuemax="100">
                    {{progression}}%
                  </div>
                </div>

              </div>

              <div class="col-sm">
                <img *ngIf="client?.photo"
                     src="{{clientService.baseurl}}/custom/uploads/img/{{client.photo}}"
                     alt="{{client.photo}}" class="img-thumbnail rounded">
              </div>
            </div>
            <div class="row" *ngIf="authService.hasRole('ROLE_ADMIN')">
              <button type="button" class="btn btn-success btn-sm" [routerLink]="['/factures/form', client.id]">Creer facture</button>
            </div>
            <div class="row">

              <div class="alert alert-info my-4" *ngIf="client.factures.length == 0">
                Pas de factures pour ce client {{client.nom}} {{client.prenom}}
              </div>

              <table class="table table-bordered table-striped my-4" *ngIf="client.factures.length > 0">
                <thead>
                <tr>
                  <th>photo</th>
                  <th>description</th>
                  <th>date</th>
                  <th>total</th>
                  <th>detail</th>
                  <th *ngIf="authService.hasRole('ROLE_ADMIN')">supprimer</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let facture of client.factures">
                  <td>{{facture.id}}</td>
                  <td>{{facture.description}}</td>
                  <td>{{facture.createdAt}}</td>
                  <td>{{facture.total}}</td>
                  <td><button class="btn btn-primary btn-sm" type="button"
                              [routerLink]="['/factures', facture.id]">ok</button></td>
                  <td *ngIf="authService.hasRole('ROLE_ADMIN')">
                    <button class="btn btn-danger btn-sm" type="button" (click)="delete(facture)">supprimer</button>
                  </td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
